body {
    background-color: #bdb76b;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

/* Body container area */ 
#bodycontainer {
    background-color: #d7d7d7;
    width: 900px;
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Header area */ 
#header {
    background-color: #fefdfb;
    height: 130px;
    background-image: url(https://i.imgur.com/WoSSoUb.jpg);
    background-repeat: no-repeat;
    background-position: left;
    font-size: 180%;
}

#header p {
    font-weight: bold;
    padding-top: 53px;
    padding-left: 278px;
}

.sidenav {
    height: 100%;
    margin-left: 160px;
    width: 100px;
    background-color: #bdb76b;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    padding-right: 10px;
    padding-top: 200px;
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    color: #2f4f4f;
    display: block;
    font-size: 110%;
    font-weight: bold;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.iframe {
    text-align: center;
}

iframe {
    padding: 20px;
}

#hotels, #parks {
    padding: 20px;
}

.sortbutton {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}

.sort {
    text-decoration: underline;
    font-weight: bold;
}

.unsort {
    text-decoration: none;
    font-weight: normal;
}

/* Navigation area */ 
#navigation {
    background-color: #2f4f4f; 
    padding: 15px;
    text-align: center;
}

#navigation a {
    color: #fff; 
    padding: 5px;
    text-decoration: none; 
}

#navigation a:hover {
    background-color: #ff4500;
}

h1 {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

h2 {
    font-size: 130%;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

/* Modal */
.modalButton {
    color: #008b8b;
    font-weight: bold;
    display: inline-block;
}

.modalButton:hover {
    cursor: pointer;
    color: #006161;
}

.modal-body {
    background-color: #2f4f4f;
    margin-left: auto;
    margin-right: auto;
}

.modal-size {
    width: 800px;
}

/* One-column layout */
#content {
    padding: 10px 20px 10px 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

/* Table widths */
#downtown {
    width: 574px;
}

#introduction {
    width: 448px;
}

#transportation {
    width: 378px;
}

#neighborhoods, #park {
    width: 444px;
}

#attraction {
    width: 442px;
}

#museum {  
    width: 416px;
}

#retail {
    width: 400px;
}

#tech {
    width: 525px;
}

/* Image caption */
#caption {
    font-style: italic;
    text-align: right;
}

/* Two-column layout */
#leftcontent {
    margin-right: 250px;
    padding: 0px 20px 10px 20px;
}

#rightcontent {
    float: right;
    width: 250px;
}

/* Image caption */
#imgcaption {
    font-style: italic;
    text-align: left;
}

/* Displaying buttons */

.button a, #back a {
    text-decoration: none;
    color: #fff;
}

.button:hover, #back:hover{
    text-decoration: underline;
}

.button, #back {
    color: #fff;
    background-color: #008b8b;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right:10px;
    margin: 20px; 
}

#content div, #leftcontent div, #footer p {
    text-align: center;
}

#content > p > a, #leftcontent > p > a, li > a, #hotels a {
    color: blue;
}

#photo_name {
    color: #fff;
}

/* Footer area */
#footer {
    background-color: #ededed;
    clear: both;
    padding: 20px;
    text-align: center;
}

#footer a {
    color: #5c5c5c;
}

#home, #previousButton {
    float: left;
}

#sitemap, #nextButton {
    float: right;
}