<div class="container" id="about">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <img id="joanne" class="img-responsive" src="../images/joanne.jpg" width="350" height="350">
            <p style="text-align:center;"><b>Ronald Reagan Presidential Library, Simi Valley, California</b></p>
            <div style="padding: 5px;"></div>
            <p>I grew up in the San Francisco Bay Area and currently live in Seattle, Washington. I enjoy the good weather and the beautiful natural environments in both places. I believe in the benefits of education, and I studied hard and received a Bachelor's degree in Plant Biology from UC Davis in 2001 with the honor of being top of the class, a Master's degree in Biotechnology from UC Irvine in 2004, and PhD in Microbiology from UC Berkeley in 2012. At UC Berkeley, I was supported by NIH Predoctoral Fellowship and Chancellor's Fellowship. Besides, I like drawing and painting and was voted by fellow students as the most creative person in high school. I also like to travel, and I have visited, among other places, Paris, London, Hong Kong, Taiwan, Hawaii, Yellowstone, New York, Niagara Falls, DC, etc. I enjoy knowing people with different cultures, history and living environments.</p>
            
            <p>At UC Berkeley, I studied the regulation of HIV-1 gene expression implicated in human diseases HIV/AIDS and cancer. Since graduation from UC Berkeley, I have been awarded NIH Postdoctoral Fellowship and working as a postdoctoral fellow at Fred Hutchinson Cancer Research Center in Seattle. My research project is to identify molecular targets of a compound that has been shown to protect against drug-induced hearing loss in animals. Identification of these targets will help us gain a better understanding of the molecular mechanisms of hearing loss.</p>
            
            <p>In summer 2015, I began to explore computer programming and found it very interesting because it requires creativity and logical thinking. Since then, I have been taking online computer science and web development courses at Coursera and edX, including ones from Harvard University, Rice University, and Hong Kong University of Science and Technology. Currently, I am looking for an opportunity to work in web design/front-end web development.
            </p>
        </div>
    </div>
</div>
<div style="padding: 20px;"></div>