<div class="container" id="awards">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h3 class="title">Honors/Awards</h3>
            <ul>
                <li>NIH Kirschstein-NRSA F32 Individual Postdoctoral Fellowship, 2014</li>
                <li>NIH Kirschstein-NRSA F31 Individual Predoctoral Fellowship, 2008</li>
                <li>UC Berkeley Chancellor's Fellowship, 2006</li>
                <li>UC Irvine Thessaly Lynne Miles Scholarship, 2003</li>
                <li>UC Irvine Merit-based Fellowship, 2002</li>
            </ul>
            <div style="padding: 5px;"></div>
            <h3 class="title">Publications</h3>
            <p><b>Hsu, J.</b>, Weier, J.F., Weier, H.U. and Ito, Y. (2013). Multi-color spectral transcript analysis (SPECTRA) for phenotypic characterization of tumor cells. Biomolecules 3, 180-197.</p>
            <p><b>Hsu, J.</b>, Zeng, H., Lemke, K.H., Polyzos, A.A., Weier, J.F., Wang, M., Lawin-O'Brien, A.R., Weier, H.U., and O'Brien. B. (2012). Chromosome-specific DNA repeats: rapid identification in silico and validation using fluorescence in situ hybridization. Int. J. Mol. Sci. 14, 57-71.</p>
            <p>Liu, M., <b>Hsu, J.</b>, Chan, C., Li, Z., and Zhou, Q. (2012). The ubiquitin ligase Siah1 controls ELL2 stability and formation of Super Elongation Complexes to modulate gene transcription. Mol. Cell 46, 325-334. </p>
            <p>He, N., Liu, M., <b>Hsu, J.</b>, Xue, Y., Chou, S., Burlingame, A., Krogan, N.J., Alber, T., and Zhou, Q. (2010). HIV-1 Tat and host AFF4 recruit two transcription elongation factors into a bifunctional complex for coordinated activation of HIV-1 transcription. Mol. Cell 38, 428-438.</p>
        </div>
    </div>
</div>
<div style="padding: 20px;"></div>