<div class="container" id="courses">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h3 class="title">Computer Programming Skills</h3>
            <p><b>Languages/tools:</b> JavaScript, AngularJS, jQuery, Bootstrap, HTML/CSS, Python, C, PHP, SQL, Bower, Gulp, NodeJS, Express framework, REST API, MongoDB, Mongoose.</p>
            <div style="padding: 5px;"></div>
            <h3 class="title">Computer Science Courses (at Coursera and edX)</h3>
            <p>My programming assignments for CS courses can be found at: <a href="http://www.github.com/jhhsu8" target="_blank" style="color:blue;">www.github.com/jhhsu8</a>.</p>
            <ul>
                <li><b>CS50 Introduction to Computer Science, Harvard University (2017, Audited)</b>
                </li>
                <li><b>Front-End Web UI Frameworks and Tools, Hong Kong University of Science and Technology (2016, Grade 98.4%)</b>
                </li>
                <li> <b>Front-End JavaScript Frameworks: AngularJS, Hong Kong University of Science and Technology (2016, Grade 100%)</b>
                </li>
                <li> <b>Server-side Development with NodeJS, Hong Kong University of Science and Technology (2016, Audited)</b>
                </li>
                <li><b>HTML, CSS and Javascript, Hong Kong University of Science and Technology (2015, Grade 100%)</b>
                </li>
                <li><b>Introduction to Interactive Programming in Python (Part 1), Rice University (2016, Audited)</b>
                </li>
                <li><b>Introduction to Interactive Programming in Python (Part 2), Rice University (2016, Audited)</b>
                </li>
                <li><b>Programming Foundations with JavaScript, HTML and CSS, Duke University (2015, Certification, Grade 91.6%)</b>
                </li>
                <li><b>Programming for Everybody (Getting Started with Python), University of Michigan (2015, Grade 97.4%)</b>
                </li>
            </ul>
        </div>
    </div>
</div>
<div style="padding: 20px;"></div>