<div ng-controller="HomeController">
    <div id="content">
        <!-- Content area -->
        <table id="downtown">
            <tr>
                <td><img ng-src="{{photo.image}}" alt="The view of Downtown Seattle"></td>
            </tr>
            <tr>
                <td id="caption">{{photo.name}}</td>
            </tr>
        </table>
        <h1>Seattle - An Overview</h1>
        <p>This website is to provide tourists and potential migrants from other parts of the country with essential information about the City of Seattle, Washington state. It covers several topics about the city, such as culture, climate, public transportation system, housing, expansion in technology industry, and recreational places.</p>

        <p>Seattle is the largest city in the Pacific Northwest and is nicknamed "The Emerald City". It is surrounded by spectacular views of evergreen trees, lakes, the Cascade mountains in the east, the Olympic mountains in the west, and Mount Rainier in the south. The city is home to various business centers and is one of the greatest cities for arts and culture in the world. The Seattle Symphony is one of the country’s leading symphony orchestras. Pacific Northwest Ballet has the highest per capita attendance in the country. Seattle is also the home of music legends like Nirvana and Pearl Jam.</p>

        <p>Seattle is also the fastest growing economy with the lowest unemployment rate (3.7% in September 2017) in the US. The rapid economic growth is due mostly to the fast expansion of its tech sector, which comprises Microsoft, Amazon, Google, and Facebook. Most prominent is the expansion of Amazon, headquartered in the city. It occupies 19% of all prime office space in the city and added 9,000 jobs to the city in 2015. As a result of the expansion of the tech sector, every other sector expands as well, bringning down unemployment rate and causing a rapid rise in rent and housing prices.</p>
    </div>
</div>