<div ng-controller="TransportationController">
    <div id="content"><!-- Content area -->  
        <table id="transportation">
            <tr><td><img ng-src="{{photo.image}}" alt="{{photo.name}}"></td></tr>
            <tr><td id="caption">{{photo.name}}</td></tr>
        </table>
        <h1>Seattle Public Transportation</h1>
                
        <h2>Link Light Rail</h2>
        <p><a href="https://www.soundtransit.org/Rider-Guide/link-light-rail" target="_blank">Link Light Rail</a> is a rapid transit rail system operated by Sound Transit, which is a public transit agency serving the Seattle metropolitan area. Currently, the system consists of two separate light rail lines: Central Link and Tacoma Link. Central Link is a light rail line in Seattle, operating between University of Washington, Downtown Seattle, Seattle-Tacoma International Airport, and Angle Lake. Link light rail fares are based on distance traveled. Adult fares (ages 19 to 64) range from $2.25 to $3.25 depending on how far you travel. Youth Link fares (ages 6 to 18) are $1.50. Senior and disabled Link fares are $1.00. The service is available from 5am to 1am Monday through Saturday and from 6am to 12am on Sunday and holidays.</p>
                
        <h2>King County Metro</h2>
        <p><a href="http://kingcounty.gov/depts/transportation/metro.aspx" target="_blank">King County Metro</a> , or Metro, is a transit bus agency of King County, Washington. It is the eighth-largest transit bus agency in the country, carrying about 395,000 passengers each weekday on 215 routes. Most bus service is operated in hub-and-spoke patterns centered on Downtown Seattle and the University of Washington. Adult fares (ages 19 to 64) range from $2.50 to $3.25 depending on the time during a day and how many zones traveled. Youth Link fares (ages 6 to 18) are $1.50. Senior and disabled Link fares are $1.00. The service is generally available from 5am to 1am Monday through Saturday and from 6am to 12am on Sunday and holidays.<p>
                
        <h2>Seattle Streetcar</h2>
        <p><a href="https://seattlestreetcar.org" target="_blank">Seattle Streetcar</a>  currently has two lines: the South Lake Union Line and the First Hill Line.</p>
                
        <p><a href="https://seattlestreetcar.org/how-to-ride/south-lake-union-line/?hw" target="_blank">The South Lake Union Line</a>, open since 2007, is the first line of the Seattle Streetcar. The 1.3-mile line has seven stops, stretching from South Lake Union to Downtown Seattle. The service is available from 6am to 9pm Mondays through Thursdays, 6am to 11pm Friday and Saturday, and 10am to 7pm Sundays and holidays.</p>
                
        <p><a href="https://seattlestreetcar.org/how-to-ride/first-hill-line" target="_blank">The First Hill Line</a> was open in 2016. The 2.5-mile line has 10 stops, stretching from Capitol Hill (located east of Lake Union) to International District (located south of Downtown Seattle). Adult fares (ages 19 to 64) are $2.25. Youth Link fares (ages 6 to 18) are $1.50. Senior and disabled Link fares are $1.00. The service is available from 5am to 1am Mondays through Saturdays and 10am to 8pm Sundays and holidays.</p>
    </div>
</div>