<h1>Driving Directions to Seattle</h1>
<div id="content">
    <h2>From San Francisco, California (12.5 hours, 808 miles):</h2>
    <p>Take I-80 E and I-5 N<br> Take exit 164A from I-5 N
    </p>
    
    <h2>From Vancouver, BC, Canada (2.5 hours, 142 miles):</h2>
    <p>Take BC-99 S and I-5 S<br> Take exit 165B from I-5 S
    </p>

    <h2>From Portland, Oregon (2.5 hours, 173 miles):</h2>
    <p>Take I-405 N and I-5 N<br> Take exit 164A from I-5 N
    </p>

    <h2>From New York City, New York (42 hours, 2,861 miles):</h2>
    <p>Take Church St, 6th Ave and I-78 W to NJ-139 W in Jersey City<br> Take I-80 W, I-90 W, I-94 W and I-90 W.<br> Take exit 2C from I-90 W
    </p>
</div>